.card_container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.details_container {
    height: 80%;
    width: 34%;
}

.details_wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}